.banner-carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 14px;
    aspect-ratio: 16 / 6;
  }
  
  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  @media (max-width: 600px) {
  .banner-carousel {
    aspect-ratio: 16 / 8;
  }
}

  